*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2{
    font-family: 'Young Serif', sans-serif;
}
p, li, h3{
    font-family: 'Outfit', sans-serif;
    color: hsl(30, 10%, 34%);
}
body{
    font-size: 16px;
    height: 100vh;
}
.wrap{
    background-color: white;
}
.content{
    margin: 1.5rem 2rem;

}
h1{
    color: hsl(24, 5%, 18%);
}
h2{
    color: hsl(14, 45%, 36%);
}
li{
    margin-left: 1rem;
    margin-bottom: 0.7rem;
}
#image-omelette{
    width: 100%;
}
.initial-text{
    margin: 0.5rem 0 1.3rem;
}
.preparation{
    background-color:  hsl(332, 100%, 98%);
    padding: 1.5rem;
    border-radius: 15px;
    margin-bottom: 0.9rem;
    h3{
        color: hsl(332, 51%, 32%);
        margin-bottom: 1.1rem;
    }
    li{
        margin-bottom: 0.9rem;
    }
}
.ingredients{
    margin-bottom: 1.5rem;
    li{
        list-style: hsl(332, 51%, 32%);
    }
    h2{
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-bottom: 1rem;
    }
}
.instructions{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    h2{
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-bottom: 1rem;
    }
    li::marker{
        color: hsl(14, 45%, 36%);
        font-weight: 500;
    }
    
}
.nutrition{
    margin-top: 1rem;
    padding-bottom: 1.2rem;
    p{
        margin-bottom: 1rem;
    }
    h2{
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-bottom: 1rem;
    }
    hr{
        margin-bottom: 0.5rem;
    }
    .data{
        display: grid;
        grid-template-columns: 50% 50%;
        :nth-child(2){
            color: hsl(14, 45%, 36%);
            font-weight: bold;
        }
        :nth-child(1){
            margin-left: 1.5rem;
        }
    }
}
hr{
    border-color: hsl(30, 18%, 87%);
}

@media (min-width: 769px){
    body{
        background-color: hsl(30, 54%, 90%);
        padding: 4rem 0;
        height: 100%;
    }
    .wrap{
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }
    #image-omelette{
        width: 92%;
        margin-top: 1.5rem;
        border-radius: 15px;
    }
}
    /* background-color: hsl(24, 5%, 18%); */
    /* background-color: hsl(30, 18%, 87%); */
    /* background-color: hsl(30, 54%, 90%); */
    /* background-color: hsl(30, 10%, 34%); */
    /* background-color: hsl(330, 100%, 98%); */
    /* background-color: hsl(332, 51%, 32%); */
    /* background-color: hsl(14, 45%, 36%); */


